.card{
    background-color: #222;
    margin:20px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: 2%;
    color:white;
    width:250px;
    text-align: center;
}

.card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.cardContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.card button{
    background-color: rgb(233, 213, 232);
    color:#222;
    padding:10px 20px;
    margin:10px;
    border:none;
}